<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SitterBot - Automate finding childcare.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="Ti_uhuF_72hSh3CYMTijaJI125C7yVEmDs3YZ9Iykzs" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta property="og:title" content="SitterBot"/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content="SitterBot"/>
    <meta property="og:description" content="Automate finding childcare."/>
    <meta name="twitter:title" content="SitterBot" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'marketing', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <!-- Modernizr JS -->
    <!-- <script src="js/modernizr&#45;2.6.2.min.js"></script> -->

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <![endif]-->

  </head>
  <body>
    <header id="fh5co-header-section" role="header" class="" >
      <div class="container">
        <h1 id="fh5co-logo" class="pull-left">
          <a href="/welcome">
            <img src="/images/sitter-bot-logo-transparent.png" alt="SitterBot">
          </a>
        </h1>
        <nav id="fh5co-menu-wrap" role="navigation">
          <ul class="sf-menu" id="fh5co-primary-menu">
            <li><a href="/welcome#pricing">Pricing</a></li>
            <!-- <li><a href="/contact">Contact</a></li> -->
            <li><a href="/user/new">Sign Up</a></li>
            <li><a href="/session/new">Log In</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer role="contentinfo" id="fh5co-footer">
      <a href="#" class="fh5co-arrow fh5co-gotop footer-box"><i class="ti-angle-up"></i></a>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 footer-box">
            <h3 class="fh5co-footer-heading">Get Started</h3>
            <ul class="fh5co-footer-links">
              <li><a href="/welcome#pricing">Pricing</a></li>
              <li><a href="/user/new">Sign up</a></li>
              <li><a href="/session/new">Log in</a></li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-12 footer-box">
            <h3 class="fh5co-footer-heading">Looking for something?</h3>
            <ul class="fh5co-footer-links">
              <li><a href="/faq">FAQ</a></li>
              <li><a href="/terms">Terms</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-12 footer-box">
            <h3 class="fh5co-footer-heading">Get in touch</h3>
            <ul class="fh5co-social-icons">
              <li><a href="#"><i class="ti-google"></i></a></li>
              <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
              <li><a href="#"><i class="ti-facebook"></i></a></li>
              <li><a href="#"><i class="ti-instagram"></i></a></li>
              <li><a href="#"><i class="ti-dribbble"></i></a></li>
            </ul>
          </div>

          <div class="col-md-12 footer-box text-center">
            <div class="fh5co-copyright">
              <p><br>Built with <i class="ti-heart"></i> in Reno at Startup Weekend</p>
            </div>
          </div>

        </div>
        <div class="fh5co-spacer fh5co-spacer-md"></div>
      </div>
    </footer>

    <%= javascript_include_tag 'marketing' %>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-87694061-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
